name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-code-style:
    name: 'Check code style'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download ktlint binary
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.48.2/ktlint
          chmod +x ktlint

      - name: Run ktlint
        run: ./ktlint --editorconfig=".editorconfig"

  run-tests:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Run tests
        run: ./gradlew test

      - name: Upload coverage.csv file
        uses: actions/upload-artifact@v3
        with:
          name: coverage.csv
          path: build/reports/coverage/coverage.csv

  build-jar:
    name: 'Build jar'
    needs: [ check-code-style, run-tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup version variable
        run: |
          echo "VERSION=$(grep '^version=' src/main/resources/version.properties | cut -d= -f2)" >> $GITHUB_ENV

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build debug jar
        run: ./gradlew shadowJar

      - name: Store jar file
        uses: actions/upload-artifact@v3
        with:
          name: jpkiller-${{env.VERSION}}.jar
          path: ./build/libs/jpkiller-${{env.VERSION}}.jar

  build-native-images:
    name: 'Build native images'
    needs: [ build-jar ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup version variable
        run: |
          echo "VERSION=$(grep '^version=' src/main/resources/version.properties | cut -d= -f2)" >> $GITHUB_ENV

      - name: Setup GraalVM Environment
        uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: '21.0.0.2'
          java: 'java11'

      - name: Install Native Image utility
        run: |
          gu install native-image

      - name: Get JAR Artifact
        uses: actions/download-artifact@v3
        with:
          name: 'jpkiller-${{env.VERSION}}.jar'

      - name: Build binary file
        run: |
          native-image --no-server --no-fallback -H:IncludeResources=".*\.properties" --enable-all-security-services --allow-incomplete-classpath -jar jpkiller-${{env.VERSION}}.jar

      - name: Publish binary file
        uses: actions/upload-artifact@v3
        with:
          name: jpkiller-${{env.VERSION}}-linux-amd64
          path: jpkiller-${{env.VERSION}}

  create-coverage-badge:
    needs: [ create-deb-package ]
    name: 'Create coverage badge'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get coverage.csv
        uses: actions/download-artifact@v3
        with:
          name: coverage.csv
          path: artifacts

      - name: Create JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.8.1
        with:
          jacoco-csv-file: artifacts/coverage.csv
          badges-directory: .github/badges
          generate-coverage-badge: true

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{steps.jacoco.outputs.coverage}}"

      - name: Commit and push the badge (if it changed)
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
          message: 'Commit coverage badge'
          add: '*.svg'
